
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


.banner_article {
    height: 300px;
    width: 100%;
    padding-bottom: 10px;
}

/*.banner {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    color: #99cc00 ;
    background-image: url("turtle2.png"); 
   background-repeat: no-repeat;
   background-size: 100% 120%;


 }
 */
 